body, html {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the title and content */
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #ff3333; /* Red background */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.forms-container {
    display: flex;
    justify-content: space-around;
    text-align: center; /* Center content within columns */
}

.club-logo {
    max-width: 100%; /* Adjusted for better responsiveness */
    height: auto; /* maintain aspect ratio */
    margin-top: 20px; /* space between the title and the logo */
    display: block; /* to center the logo */
    margin-left: auto;
    margin-right: auto;
}

.form-column {
    width: 45%;
}

.form-column h2 {
    font-size: 1.5em;
    color: #fff; /* White text for visibility against red background */
}

a.bounce {
    color: white;
    text-decoration: none;
    display: inline-block;
}

a.bounce i {
    margin-left: 8px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .container {
        width: 95%; /* More screen space usage on small devices */
    }

    .form-column {
        width: 100%; /* Stack forms vertically */
        margin-bottom: 20px; /* Add some space between stacked forms */
    }

    h1, .form-column h2 {
        font-size: 1.2em; /* Adjust font size for smaller screens */
    }
}
